* {
  margin: auto;
  padding: 0;
}

body {
  background: #30122D;
}

a {
  color: #FF5335;
  text-decoration: underline;
}

a:hover{
  color:#30122D;
}
.h1, h1 {
  text-align: center;
  width: 70%;
  margin: .7em auto;
  overflow: hidden;
  font-family: 'Josefin Slab', cursive;
  font-weight:bold
}

h1:before, h1:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}

h1:after {
  margin: 0 -55% 0 .5em;
}

.aboutnames {
  margin-bottom: 2em;
}

.wrapper {
  position: center;
  top: 50%;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  height: 80%;
  background: #fff;
  position: relative;
  padding-bottom: 20px;
  word-wrap: break-word;
}
.main-page {
  padding-top: 10%;
}
.navbar {
  height: inherit;
  margin: auto;
  z-index: 25;
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
}

.nav-link{
  color:white;
}
.nav-link:hover{
  color:black;
}
.ribbon {
  /* position: absolute; */
}

/* ribbon-1 */
.ribbon-1 {
  width: 100%;
  height: 50px;
  background: #FF5335;
  top: 20px;
  left: -15px;
  right: -15px;
}

.ribbon-1:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid #b00926;
  border-top: 5px solid #b00926;
  border-bottom: 5px solid transparent;
}

.ribbon-1:after {
  position: absolute;
  bottom: -10px;
  right: 0;
  border-left: 5px solid #b00926;
  border-right: 5px solid transparent;
  border-top: 5px solid #b00926;
  border-bottom: 5px solid transparent;
}

.ribbon-1 .sub-ribbon-1 {
  left: -40px;
}

.ribbon-1 .sub-ribbon-2 {
  right: -40px;
}

.ribbon-1 .sub-ribbon-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 25px solid #FFFFFF;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.ribbon-1 .sub-ribbon-2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid #FFFFFF;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.monogram{
  height: 4em;
}

.before-monogram {
  padding-left: 10px;
}
.after-monogram {
  padding-right: 10px;
}

.headtext {
  font-family: 'Croissant One',cursive;
  font-size: 2em;
  font-weight:bold;
}
.subtext {
  font-family: 'Josefin Slab', cursive;
  font-size: 2em;
  font-weight: bold;
}

p {
  margin-bottom: 0;
}
.centertext {

  text-align: center;
}
#beazell {
    max-width:100%
}
.centerobj {
  text-align: center;
}
.table {
  text-align: center;
  width: auto;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.alert {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .main-page {
    padding-top: 5%;
  }
  .headtext {
    font-family: 'Croissant One',cursive;
    font-size: 2.5em;
  }
  .aboutnames {
    font-size: 1.5em;
    margin-bottom: 4em;
  }
  .subtext {
    font-size: 2em;
  }
.monogram{
  height: 5em;
}
.container{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 960px;
}
.ribbon {
  position: absolute;
}

.ribbon-1 {
  width: calc(100% + 20px);
  background: #EF473A;
  top: 20px;
  z-index:unset;
}

.ribbon-1 .sub-ribbon-1,
.ribbon-1 .sub-ribbon-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #CB2D3E;
  top: 10px;
  z-index: -1;
}
.ribbon-1 .sub-ribbon-1:before {
  border-left: 25px solid #30122D;
}
.ribbon-1 .sub-ribbon-2:after {
  border-right: 25px solid #30122D;
}

.centertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  padding-left: 0;
  width: 100%;
}
#beazell {
  filter: contrast(30%);

}

.carousel-item {
  filter:contrast(50%)
}

.list-group{
  display: block;
  padding-left: 5em;
  padding-right: 5em;
}
